html,body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;

}
#root{
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d3d6da;
  padding: 0 24px;
  height: 50px;
}
nav>div:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-template-rows: repeat(6,60px);
  grid-gap: 5px;
}
.keyboard{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 8px;
}
.n9 {
  grid-column: 10/12;
}
.n10 {
  grid-column: 2/3;
}
.n19{
  grid-column: 1/3;
}
.n27 {
  grid-column: 10/12;
}
.key{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background: #d3d6da;
  border-radius: 4px;
  color: #000;
  padding: 8px;
  font-weight: bold;
  cursor: pointer;
}
.cell{ 
  border: 2px solid #d3d6da;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: small;
  padding: 10px;
}
footer>div:not(footer>div:nth-child(1)):before {
  content: "|"
}
footer>div:nth-child(7) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
a{
  text-decoration: none;
  color: black;
}
.green, .keyGreen {
  background-color: #538d4e;
  color: white;
}
.yellow, .keyYellow {
  background-color: #b59f3b;
  color: white;
}
.gray, .keyGray {
  background-color: #3a3a3c;
  color: white;
}
button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  padding: 0;
  cursor: pointer;
}
@keyframes cellFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
